*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(../img/pattern.png);
  width: 1000px;
  margin: auto;
}
header{
  background-image: url(../img/header.jpg);
  height: 350px;
  background-size:cover;
  margin-top: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid white 10px;
  position: relative;
}
.text{
  color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Noto Sans JP', sans-serif;
}
h1{
  display: inline-block;
  border: solid white 3px;
  letter-spacing: 10px;
  font-size: 60px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
h3{
  font-size: 20px;
}
main::after{
  clear: both;
  content: "";
  display: block;
}
.left{
  float: left;
  background-color: #7cfc00;
  height: 600px;
  width: 23%;
  margin-right: 3%
}
.right-top{
  float: left;
  background-color: #808000	;
  width: 23%;
  height: 350px;
  margin-left: 3%;
  margin-bottom: 5%;
}
.right-center{
  float: left;
  background-color: #808000	;
  width: 23%;
  height: 350px;
  margin-left: 3%;
}
.right-bottom{
  float: left;
  background-color: #808000	;
  width: 23%;
  height: 350px;
  margin-left: 3%;
  margin-top: 5%;
}
section{
  float: left;
  background-color:#4b0082;
  height: 850px;
  width: 48%;
}
footer{
  background-color: yellow;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}
